server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kiosco
    username: kiosco
    password: kiosco
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

logging:
  level:
    ar.com.kiosco: DEBUG
